server:
  port: 8201
spring:
  application:
    name: user-service
  zipkin:  #配置分布式链路跟踪，配置收集日志的zipkin-server访问地址
    base-url: http://localhost:9411
  sleuth:
    sampler:
      probability: 0.1 #设置Sleuth的抽样收集概率
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8001/eureka/